.myModal {
    position: fixed;
    top : 0;
    bottom : 0;
    right: 0;
    left : 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.myModalContent {
    padding: 25px;
    background: #d2c9c9;
    border-radius: 16px;
    min-width: 450px;
    min-height: 450px;
    border: 1px solid #1fe338;
    box-shadow: 10px 5px 5px #25e75d;
}

.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}